doctype html
html
    head
        title {Title}
        link(rel='shortcut icon' href="{Favicon}")
        link(rel='alternate' type='application/rss+xml' href='{RSS}')
        meta(name="description" content="{MetaDescription}")
        
        //- jQuery
        script(
            src='https://code.jquery.com/jquery-3.2.1.min.js'
            integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
            crossorigin='anonymous'
        )

        //- Tether
        script(
            src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        )

        //- Bootstrap
        link(
            rel='stylesheet'
            href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'
            integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ'
            crossorigin='anonymous'
        )
        script(
            src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'
            integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn'
            crossorigin='anonymous'
        )

        //- Insert stylesheet, uses custom grunt insert directive
        style
            // !import styles 
    body
        //- Navigation
        nav(class='navbar navbar-toggleable-sm navbar-light bg-faded')
            button(
                class='navbar-toggler'
                data-toggle='collapse'
                data-target='#navigation'
                aria-controls='navigation'
                aria-expanded='false'
                aria-label='Toggle navigation'
            )
                span(class='navbar-toggler-icon')
            
            div(class='container')
                a(class='navbar-brand' href='#') Blog name
                div(class='collapse navbar-collapse' id='navigation')
                    div(class='navbar-nav')
                        a(class='nav-item nav-link' href='#') Ask
                        a(class='nav-item nav-link' href='#') Submit
        
        //- Content
        div(class='container')
            // {block:Posts}
            include post-text.pug
            include post-photo.pug
            include post-panorama.pug
            include post-photoset.pug
            include post-quote.pug
            include post-link.pug
            include post-chat.pug
            include post-video.pug
            include post-audio.pug
            if tumbl
            // {/block:Posts}
        
        //- Insert scripts, uses custom grunt insert directive
        script
            // !import scripts 