doctype html
html
    head
        title {Title}
        link(rel='shortcut icon' href="{Favicon}")
        link(rel='alternate' type='application/rss+xml' href='{RSS}')
        // {block:Description}
        meta(name="description" content="{MetaDescription}")
        // {/block:Description}
        
        //- Insert stylesheet, uses custom grunt insert directive
        style
            // !import styles
            // {CustomCSS}
    body

        .jumbotron
            .container
                h1 {Title}

        //- Navigation
        nav.navbar.navbar-toggleable.navbar-light.bg-faded.sticky-top
            button.navbar-toggler.navbar-toggler-right(
                data-toggle='collapse'
                data-target='#navigation'
                aria-controls='navigation'
                aria-expanded='false'
                aria-label='Toggle navigation'
            )
                span.navbar-toggler-icon
            
            span.hidden-sm-up.nav-item.nav-link.float-right &nbsp;
            #navigation.collapse.navbar-collapse
                .container
                    .navbar-nav
                        a.nav-item.nav-link(href='#') Ask
                        a.nav-item.nav-link(href='#') Submit
                        
        
        //- Content
        .container
            .row
                // {block:Posts}
                include post-text.pug
                include post-photo.pug
                include post-panorama.pug
                include post-photoset.pug
                include post-quote.pug
                include post-link.pug
                include post-chat.pug
                include post-video.pug
                include post-audio.pug
                // {/block:Posts}



        //- All scripts

        //- jQuery
        script(
            src='https://code.jquery.com/jquery-3.2.1.min.js'
            integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
            crossorigin='anonymous'
        )

        //- Tether
        script(
            src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        )

        //- Bootstrap (scripts only, CSS is compiled by Grunt so we can override variables)
        script(
            src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'
            integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn'
            crossorigin='anonymous'
        )
        
        //- Insert custom scripts, uses custom grunt insert directive
        script
            // !import scripts